<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Pagamento andato a buon fine</h3>
<p>Grazie</p>
<p>Osteotherapy</p>
</body>
</html>