<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Resetta la tua password</h3>
<% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}/newPassword?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
  <button class="new-password-button">
    Imposta una nuova password
  </button>
<% end %>
</body>
</html>